.add-event-button{
    border-radius: 10%;
    margin-left: 1rem;
}

.event-side{
    background-color: #ffc182  ;
    width: 27rem;
}

.baby-form{
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 1rem;
}

.title2{
    margin-top: 3rem;
}