.baby-wrapper{
    background-color: #82ffff;
    width: 27rem;
    overflow: auto;
}

.redirect-button{
    margin-left: 1rem;
}

.select-baby{
    margin-left: 1rem;
    margin-top: 1rem;
}

.select-baby-field{
    width: 5rem;
}

.choose-baby{

}